<!DOCTYPE html>
<html>
	<head>
		<title>{{page|default("Page Name")}}</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<style type="text/css">
			.brand-logo{
				margin: 12px 0px;
			}
			.nav-item {
				display:flex;
				flex-flow: row nowrap;
				justify-content:flex-start;
				align-items:center;
			}
			.nav-item span{
				font-size:20px;
			}
			.nav-item i{
				margin-right:5px;
			}
		</style>
		{% block css %}{% endblock %}
	</head>

	<body class="grey lighten-4">
		<header>
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
						{% block left_nav %}
							<a href="#" data-activates="nav-mobile" class="button-collapse">
								<i class="mdi-navigation-menu"></i>
							</a>
							<ul id="nav-mobile" class="side-nav">
								<li><a href="index">Main</a></li>
								<li><a href="timetable">Timetable</a></li>
								<li><a href="leaderboard">Leaderboard</a></li>
								<li><a href="achievement">Achievements</a></li>
								<li><a href="stats">Stats</a></li>
								<li><a href="settings">Settings</a></li>
							</ul>
						{% endblock %}
						<h2 class="brand-logo center">{{page|default("Page Name")}}</h2>
						{% if right_nav %}
						<ul class="right">
							{% for item in right_nav %}
							<li>
								<a href="{{item.link}}" class="nav-item">
									{% if not item.icon is empty %}
									<i class="material-icons left">{{item.icon}}</i>
									{% endif %}
									<span>{{item.text}}</span>
								</a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
				</nav>
			</div>
		</header>
		<main id="content" >
			{% block content %}{% endblock %}
		</main>
		{% block fab %}{% endblock %}
		{% block footer %}{% endblock %}

		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
		<script type="text/javascript">
			$(".button-collapse").sideNav();
		</script>
		{% block js %}{% endblock %}
	</body>
</html>